@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Course Section */
.courses .row .col img{
        width :250px;
        height :200px;
        margin-bottom: 20px;
}

.courses .row .col p{
    width :250px;
    height :200px;
    font-family: "Open Sans", sans-serif;
}

.courses .row .col{
    padding: 40px 0px 0px 110px;
}

.courses .heading{
    padding-left: 96px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Kiwi Maru', serif;
    font-family: 'Kiwi Maru', serif;
    font-family: 'Lora', serif; */
    font-weight: bolder;
}

.courses h6{
    padding-left: 98px;
    padding-top: 40px;
    color: darkgray;
    font-family: 'Poppins', sans-serif;
}

.courses h6::after{
    content: "";
    width: 120px;
    height: 4px;
    display: inline-block;
    background: #0563bb;
    margin: 4px 10px;
}

.courses .row .col{
    box-sizing: border-box;
    border: 20px #1b1717;
    box-shadow: 18px 16px 19px 0 #ededed;
    /* border-radius: 7%; */
}

.courses .row .col .btn{
    width : 250px;
    background-color: #0563bb;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

/* Services section */

.services > col{
    height: 50px;
    max-width: 40%;
}

.services .row{
    margin-top: 40px;
}

.services .row i {
    position: relative;
    top: 10px;
    left: 150px;
}

.services .row h4 {
    position: relative;
    left: 50px;
}

.services h6{
    padding-left: 0;
    padding-top: 40px;
    color: darkgray;
    font-family: 'Poppins', sans-serif;
}

.services h6::after{
    content: "";
    width: 120px;
    height: 4px;
    display: inline-block;
    background: #0563bb;
    margin: 4px 10px;
}

.services .btn{
    position: relative;
    top: 50px;
    left: 0;
    font-weight: 700;
    font-family: 'Lora', sans-serif;
    border: #0563bb;
    border-width: 2px;
    border-style: solid;
}

.services .btn:hover{
    color: #ededed;
}

#col1, #col2{
    box-sizing: border-box;
    border: #ededed;
    border-bottom: 5px solid #1b1717;
    border-radius: 10%;
    box-shadow: 18px 16px 19px 0 #ededed;
}

#col1:hover, #col2:hover{
        color: #0563bb;
        cursor: pointer;
    }

#col1{
    position: relative;
    left: 30px;
}

#col2{
    position: relative;
    left: 350px;
}

